
.aupbe-icon-list:before { content: '\e800'; } /* '' */
.aupbe-icon-users:before { content: '\e801'; } /* '' */
.aupbe-icon-activity:before { content: '\e802'; } /* '' */
.aupbe-icon-stats:before { content: '\e803'; } /* '' */
.aupbe-icon-sync:before { content: '\e804'; } /* '' */
.aupbe-icon-recalc:before { content: '\e805'; } /* '' */
.aupbe-icon-reset:before { content: '\e806'; } /* '' */
.aupbe-icon-maxpoints:before { content: '\e807'; } /* '' */
.aupbe-icon-purgexpire:before { content: '\e808'; } /* '' */
.aupbe-icon-categories:before { content: '\e809'; } /* '' */
.aupbe-icon-barcode:before { content: '\e80a'; } /* '' */
.aupbe-icon-coupon:before { content: '\e80b'; } /* '' */
.aupbe-icon-templates:before { content: '\e80c'; } /* '' */
.aupbe-icon-exportusers:before { content: '\e80d'; } /* '' */
.aupbe-icon-info:before { content: '\e80e'; } /* '' */
.aupbe-icon-ranks:before { content: '\e80f'; } /* '' */
.aupbe-icon-exportmail:before { content: '\e810'; } /* '' */
.aupbe-icon-raffle:before { content: '\e811'; } /* '' */
.aupbe-icon-combine:before { content: '\e812'; } /* '' */
.aupbe-icon-report:before { content: '\e813'; } /* '' */
.aupbe-icon-autodetect:before { content: '\e814'; } /* '' */
.aupbe-icon-howto:before { content: '\e815'; } /* '' */
.aupbe-icon-ruleslist:before { content: '\e816'; } /* '' */
.aupbe-icon-help:before { content: '\e817'; } /* '' */
.aupbe-icon-link:before { content: '\e818'; } /* '' */