.coupon {
	position:relative;
	margin: 15px;
	height: 280px;
	width: 650px;
	border: 10px dashed #333333;
}

.printcoupon{
	float: right;
	padding-right:40px;	
}

.cut{
	position:absolute;
	width: 100px;
	height:70px;
	display:block;
	top:35px;
	left:324px;
	background-image: url(../images/cut.gif);	
	background-repeat: no-repeat;
	z-index:9999;
}

.couponcolor {
	position:relative;
	padding: 10px;
	height: 260px;
	width: 630px;
	background-color: #D0CCDD;
}

.infocoupon{
	position:relative;
	float: left;
	padding: 10px;
	width: 360px;
}

.infocoupon h1{
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:42px;
	color:#000000;
}

.couponcolor h2{
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#333333;
	text-indent:15px;
}

.qrcode {
	float: right;
	height: 250px;
	width: 250px;
}

.infosite {
	float: left;
	position:relative;
	top:68px;
	height: 25px;
	width: 360px;
	padding-left: 15px;
	padding-bottom: 15px;
}

